@use "vuetify/styles" with (
  $body-font-family: 'Roboto, system-ui, -apple-system, BlinkMacSystemFont, sans-serif'
);

html, body, #app {
  height: 100%;
  margin: 0;
}

.v-application {
  background-color: #f5f5f5 !important;
}
